* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  list-style: none;
}

.img-main {
  width: 100%;
}

main {
  margin: 0 150px;
}

header {
  margin: 0 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left > .logo {
  background-color: #458ff6;
  width: 41px;
  height: 41px;
  display: flex;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.header-left > .title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}

.header-actions {
  display: flex;
}

.header-actions > li {
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  color: #1f1534;
}

.header-actions > li:hover {
  font-weight: 700;
  cursor: pointer;
}

section {
  height: 700px;
  margin-top: 100px;
}

.section-left {
  width: 450px;
  margin-top: 7.5rem;
}

.mobile-left,
.compart-right {
  width: 450px;
  margin-top: 3.5rem;
}

.section-left,
.mobile-left,
.compart-left {
  float: left;
}

.section-right,
.mobile-right,
.compart-right {
  float: right;
}

h1,
h2.leading {
  font-size: 48px;
  font-weight: 700;
}

.healthcare {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 45px;
}

button.consult {
  width: 200px;
  height: 56px;
  background-color: #458ff6;
  color: #fff;
  border-radius: 55px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
button.consult:hover {
  background-color: #fff;
  color: #458ff6;
  border: 2px solid #458ff6;
  cursor: pointer;
}

ul.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

ul.service-list > li {
  flex: 290px;
  height: 290px;
  background-color: #fff;
  border-radius: 20px;
  margin: 17px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  padding: 54px 38px;
}

ul.service-list > li > h4 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}

ul.service-list:first-child {
  float: left;
}

ul.service-list > li > p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #7d7987;
}

.service-provide {
  color: #7d7987;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

h3.services {
  font-size: 36px;
  font-weight: 700;
  margin: auto;
  text-align: center;
}

.service-line {
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background-color: #000;
  margin: 26px auto 33px;
}

button.learn {
  width: 200px;
  height: 56px;
  color: #458ff6;
  background-color: #fff;
  border-radius: 55px;
  border: 2px solid #458ff6;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}
button.learn:hover {
  background-color: #458ff6;
  cursor: pointer;
  color: #fff;
}

.profil-containet {
  position: relative;
}

img.blue {
  width: 100%;
  z-index: -1;
}

.profil-img-box {
  flex: 10%;
}

.profil-img {
  width: 95%;
  border-radius: 50%;
  border: 4px solid #fff;
}

div.profil {
  position: absolute;
  top: 1px;
}

.profil-info-box {
  color: #fff;
  flex: 36%;
  font-size: 19px;
  line-height: 30px;
  font-weight: 200;
}

nav {
  margin-top: 80px;
}

.profil-name-box {
  color: #fff;
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profil-details {
  display: flex;
  margin: 70px 108px 0;
}

.profil-details > div {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profil-title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

hr {
  width: 56px;
  height: 2px;
  background-color: #fff;
}

.hr {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination > i {
  color: #a6cbff;
  font-size: 35px;
}

.pagination > i:hover {
  color: #5b9bf3;
  font-size: 35px;
  cursor: pointer;
}

.pagination:first-child,
.pagination:last-child {
  padding: 0 30px;
}

.pagination-list-box {
  display: flex;
  margin: 0 89px;
  align-items: center;
}

.pagination-list-box > li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #a6cbff;
  margin: 0 9px;
}

.pagination-list-box > li:hover {
  background-color: #5b9bf3;
  cursor: pointer;
}

.cards-box {
  display: flex;
}

div.card {
  border-radius: 20px;
  margin: 0 20px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
}

.card-body > h5,
.card-body > p,
.card-body > a {
  padding: 12px 27px;
}

.card-body > h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.card-body > a {
  text-decoration: none;
  color: #4089ed;
}

.card-body > a > i {
  padding-left: 10px;
}

.card-img-top {
  border-radius: 20px 20px 0 0;
}

.download {
  margin: 26px 0 33px;
}

footer {
  margin-top: 200px;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.footer-container {
  position: absolute;
  top: 1px;
  display: flex;
  padding: 0 150px;
  margin-top: 55px;
}

.footer-box {
  flex: 10%;
  padding: 50px;
}

.footer-box:first-child {
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-box > h3 {
  color: #fff;
}

footer > img {
  z-index: -1;
}

.footer-list-box > li {
  color: #fff;
  padding: 10px 0;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left > .logo {
  background-color: #fff;
  width: 41px;
  height: 41px;
  display: flex;
  border-radius: 50%;
  color: #458ff6;
  font-size: 26px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.footer-left > .title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  color: #fff;
}

/* 
-----------------Responsive--------------
Phone - 562px
Tablet - 768px
Desktop - 992px
Big Desktop  -  1200 px 
*/
